.Dashboard_outer_div {
    width: 122%;
}

.dashboard_total_amount_bar {
    padding: 10px 0;
    text-align: center;
    background-color:#efefef;
    color: black;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.dashboard_circles{
    padding: 20px;
    margin: 15px;
    display: flex;
    justify-content:space-around;
    height:auto;
}

.dashboard_POU{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(104, 104, 104);
    text-align: center;
}

.dashboard_POU > p{
    padding-top: 25%;
}


.barGraphOf_POU_container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    /* margin-top:-0px; */
    align-items: center;
    height: auto;
}

.labelsOfDashboard{
   display: flex;
   flex-direction: row;
   background-color: rgb(137, 234, 234);
}
